@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/catamaran/v17/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPHjd1ak.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/catamaran/v17/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPJ_a1ak.ttf) format('truetype');
}


@keyframes arrowDown{
  0% {
      bottom: 25px;
  }

  30% {
      bottom: 15px;
      opacity: 1;
  }

  70% {
      bottom: 10px;
      opacity: 1;
  }

  100% {
      bottom: 5px;
      opacity: 0;
  }
}

@keyframes lineDown {
  0% {
      transform: scale(1, 0);
      transform-origin: top center;
  }

  25% {
      transform: scale(1, 1);
      transform-origin: top center;
  }

  75% {
      transform: scale(1, 1);
      transform-origin: top center;
  }

  76% {
      transform: scale(1, 1);
      transform-origin: bottom center;
  }

  100% {
      transform: scale(1, 0);
      transform-origin: bottom center;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (min-width: 320px) {
  body,
  html {
    width: 100%;
    background-color: #373737;
  }
}

@media screen and (min-width: 992px) {
  /* HEADER */

  header {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
  }
  .nav-1,
  .nav-2 {
    background-color: #FCA311;
    height: 70px;
    width: 500px;
  }
  .nav-1 {
    /* clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 0%); */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
  }
  .nav-1 ul {
    display: flex;
    margin-left: 25%;
    height: 70px;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  .nav-2 ul {
    display: flex;
    height: 70px;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  .nav-a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-shadow: black 0.1em 0.1em 0.1em;
    font-size: 22px;
    display: inline-block;
    width: 100%;
    position: relative;
  }
  .nav-a::after,
  .nav-a::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #373737;
    display: block;
    position: absolute;
    transition: all 0.3s ease-out;
    transform: scale(0, 1);
    transform-origin: center left;
  }
  .nav-a:hover:after,
  .nav-a:hover:after {
    transform: scale(1, 1);
  }
  .nav-a:hover{
    color: rgba(255, 255, 255, 0.897);
  }
  .nav-1 ul li:last-child {
    margin-right: 30px;
  }
  .nav-2 ul li:first-child {
    margin-left: 30px;
  }
  .nav-2 {
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  }
  header .navbar-center {
    width: 250px;
    height: 125px;
    background-color: #FCA311;
    padding: 10px;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    border-radius: 0 0 50px 50px;
    border: 5px solid #373737;
    border-top: none;
  }
  nav .logo {
    height: 100%;
    margin-left: 15px;
  }
  /* HOME */
  .main-p2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .main-p1{
    display: flex;
    justify-content: center;
  }

  .img-main{
    width:598px;
    margin-right: 120px;
    filter: grayscale(100%);
  }
  .main{
    height: 500px;
    margin-bottom:45px;
  }

  .main .row{
    height: 100%;
  }

  .cs-slider{
    background-color: #222;
    height: 300px;
  }
  .title{
    font-size: 64px;
    color: #FCA311;
  }
  .cs-info{
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
    width: 400px;
    height:  auto;
    text-align: start;
  }
  .cs-envolve{
    margin-top: 100px;
    margin-left: 50px;
  }

  .btn-offers{
    background-color: white;
    padding: 10px 15px;
    color: #FCA311;
    font-size: 24px;
    border-style: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
  }
  .btn-offers:hover{
    background-color: #FCA311;
    color: #fff;
  }
  .jl-scroll-down {
    width: 70px;
    height: 100px;
    border-radius: 35px 35px 0 0;
    background-color: #FCA311;
    display: block;        
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
  }

.jl-arrow-down {
    width: 100%;
    height: 75px;
    display: table;
    margin-top: 30px;
    position: relative;
  }

.jl-arrow-down img {
    width: 16px;
    height: 10px;
    display: block;        
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    animation: arrowDown 1.5s linear 1.5s infinite;
  }

  .jl-arrow-down:before {
    content: '';
    width: 2px;
    height: 45px;
    display: block;        
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #000;
    animation: lineDown 1.5s ease-out infinite;
    transform-origin: top center;
}

}

@media screen and (min-width: 1024px){
  .img-main{
    width:600px;
    margin-right: 170px;
  }
}


/* CLASSES PREDEFINIDAS */

.dis-flex {
  display: flex;
}
.jus-center {
  justify-content: center;
}
.jus-start {
  justify-content: start;
}
.jus-end {
  justify-content: end;
}
.ali-center {
  align-items: center;
}
.ali-top {
  align-items: top;
}
.ali-bottom {
  align-items: bottom;
}
.text-orange{
  color: #FCA311;
}

