 @import "components/fontsAnim.less"; // Animations and Imports Fonts
 @import "components/variables.less"; // Variables

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Courier New', Courier, monospace;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }

 @media screen and (min-width: 320px) {

     body,
     html {
         width: 100%;
         background-color: #373737;
     }
 }

 // Header 
 @import "components/header/header.less";

 // Main
 @import "components/sectionMain/sectionMain.less";

 // Carousel
 @import "components/carousel/carousel.less";

 // Switch Color 
 @import "components/switchColor/switchColor.less";

 // Preset Class
 @import "components/presetClass.less";